*{
    margin: 0px;
    box-sizing: border-box;
    
}

.container{
    width: 100vw;
}
.header{
    border-bottom: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 10px;

}

.h-desc{
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.image{
    position: relative;
}

.logo-heading{
    position: absolute;
    top: 50%;
    right: 50%;
    
}


.br-logo{
   
    background-color: #000;
    color: #fff;
    padding: 15px;
    margin-right: 5px;
    

}


.p-img{
    height: 230px;

}

.card-con{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.card{
    position: relative;
    margin: 5px;
   
}

.card-h{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    padding: 10px;
    position: absolute;
    top: 0px;
   
}